<!DOCTYPE html>
<html lang="en">

<head>

  <head>

    <title>CV Fernan</title>
    <link rel="stylesheet" href="/styles/perfil.css">
  </head>
</head>
<header>
 
</header>
<body>




  <div class="cuerpo">
    <div class="contenido" style="padding-top:  0px;">
      <h2 style="padding-left: 2px; color: aliceblue; font-style: italic; border-right: solid 1px white; width: 300px; background-color: rgb(218, 253, 255); color: black; width: 100%; font-size:200%;">Fernan De hoyos</h2>
      <img src="img/fernan.jpg" width="250px" height="300px" style="padding-left:  20px; padding-right: 0px;  "  >

      <div class="descripcion" >
         <h3 class="titulo">Sobre mi</h3>
        <p class="texto">
           
           Hola, me encuentro en la busqueda de oportunidades
          para crecer en el campo del desarrollo web y la programacion backend, actualmente me encuentro estudiando
          Ingenieria de sistemas y telecomunicaciones, java y python. Tengo conocimiento en la programacion con java
          y actualmente me encuentro aprendiendo python con flask, html y css para tener un poco de conocimiento en frontend.
        </p>
       
      </div>

      <div class="descripcion">
        <h3 class="titulo">Contacto</h3>
        <li class="contacto" > <img class="logos" src="img/icoT.png" width="30">  3136601690 </li> 
        <li class="contacto"><img class="logos" src="img/ico.jpg" width="30">  fernandehoyos93@gmail.com</li>
        <li class="contacto"><img class="logos" src="img/images.png" width="30">   FernanDeHoyos11 </li>
      </div>

      <div class="habilidades">
        <h3 class="titulo">Habilidades</h3>
         <li class="skills"> Java </li>
         <li class="skills"> MySQL </li>
         <li class="skills"> Python </li>
         <li class="skills"> HTML </li>
         <li class="skills"> CSS </li>
            
          
      </div>
    </div>
    <div class="cuerpoD">
       
       <div class="contenedor">
        <h1  style="border-block-end: solid 2px black;">Resumen</h1>
        <p>En formacion como INGENIERO DE SISTEMAS, cursando septimo semestre. 
          con trabajos academicos y personales que se encuentran en mi repositorio de GitHub,
          apacionado por la tecnologia y sus conocimientos en las mismas, destresas en el desarrollo de software
          eficiencia en trabajo bajo precion y aprendiendo.
           
        </p>
        <h2 style="border-block-end: solid 2px black;">Habilidades principales</h2>
         <li>Java</li>
         <li>Mysql</li>
         <li>Documentacion de proyectos</li>
         <li>Resolucion de problemas</li>
         <li>Pensamiento creativo</li>
       </div>
       <div class="contenedor">
         <h1  style="border-block-end: solid 2px black;">Formacion academica</h1>
         <li style="display: inline-block;"><h2 style="padding-left: 0px;">Universidad de Cordoba</h2> 2019 - actualidad</li>
       </div>
       <div class="contenedor">
<h1 style="border-block-end: solid 2px black; padding-block-end: 0px;">Proyectos</h1>
<li>Java con MySQL: Registro materias universidad</li> <a href="">enlace repositorio</a>
<li>Java con MySQL: Control base de datos Especie</li> <a href="">enlace repositorio</a>
       </div>
      </div>
   



  </div>



</body>

</html>