<!DOCTYPE html>
<html lang="en">
<head>
    <title>monitoreo </title>
    <link rel="stylesheet" href="/styles/semestre.css">
</head>
<header class="cabesera">
     <h1>Semestre 2022-01 Fernán De hoyos</h1>
</header>
<body>
 <div class="contenedor">
    <div class="tabla">
        <h2>Ingenieria de software</h2>
        <img class="img" src="/imgSem/1.png" width="70px">
         <div class="div-uno">
            <li>Proyecto y funcionalidades</li>
             
         </div>
         <button onclick="alertar('aun no estas listo');">
            agregar
          </button>
          <script type="text/javascript">
              function alertar(texto) {
                 alert(texto);
              }
          </script>
    </div>
    <div class="tabla">
        <h2>Bases de datos II</h2>
        <img class="img" src="/imgSem/2.png" width="70px">
        <div class="div-dos">
            <li>Proyecto final (todo el semestre)</li>
            <li>Sin actividades proximas</li>
        </div>
    </div>
    <div class="tabla">
        <h2>Programacion Lineal</h2>
        <img class="img" src="/imgSem/3.png" width="70px">
         <div class="div-tres">
            <li>Sin actividades proximas</li>
         </div>
    </div>
    <div class="tabla">
        <h2>Estadistica II</h2>
        <img class="img" src="/imgSem/4.png" width="70px">
         <div class="div-cuatro">
            <li>Sin actividades proximas</li>
         </div>
    </div>
    <div class="tabla">
        <h2>Economia general</h2>
        <img class="img" src="/imgSem/5.png" width="70px">
       <div class="div-cinco">
        <li>Historia de la economia</li>
        <li>Historia del dinero</li>
        <li>Actividad 2+2 = 4</li>
       </div>
    </div>
    <div class="tabla">
        <h2>Ingles IV</h2>
        <img class="img" src="/imgSem/6.png" width="70px">
       <div class="div-seis">
        <li>Estudio unidad y audios</li>
       </div>
    </div>
    <div class="tabla">
        <h2>Telematica</h2>
        <img class="img" src="/imgSem/7.png" width="70px">
        <div class="div-siete">
            <li>Sin actividades proximas</li>
        </div>
    </div>
 </div>
  
</body>
 
</html>